<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LocalURL" value="http://localhost:60629/api"/>
    <add key="ProdURL" value="http://localhost:60629/api"/>
  </appSettings>
</configuration>